@model IEnumerable<RestaurantApp.Models.DbModels.Order>

@{
    ViewBag.Title = "Index";
}

<h2>Orders</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<p>
    @Html.ActionLink("View all ordes", "ViewAll")
</p>