@{
    ViewBag.Title = "Home Page";
}
<div id="landing">
    <div id="zegar"></div>
    <p id="welcome">WELCOME</p>
</div>


<div class="row">
    <div class="col-md-4">
        <h2>Our menu</h2>
        <p>
            A menu is a presentation of detailed lists of food items that are served in restaurant or hotel. A menu in any food service organization is considered as the most important planning control tool to run a food service operation.
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Index","Menus")">See more &raquo;</a></p>
    </div>
    
    <div class="col-md-4">
        <h2>Our crew</h2>
        <p>The duties and responsibilities of a Waiter/Waitress include welcoming and seating guests, taking guest orders, communicating them effectively to the kitchen and in addition, memorizing the menu and offering recommendations to upsell appetizers, desserts, or drinks..</p>
        <p><a class="btn btn-default" href="@Url.Action("Index","Waiter")">See more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Join us</h2>
        <p>You can develop your career in our company. Click and see more information about our offers.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">See more &raquo;</a></p>
    </div>
</div>