@model IEnumerable<RestaurantApp.Models.DbModels.Menu>

@{
    ViewBag.Title = "Index";
}

<h2>Types of menu</h2>

<p>
    @Html.ActionLink("Create New", "Create")
   
</p>
<p>
    @Html.ActionLink("View all", "ViewAll")
</p>



